*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}
header{
    background-color: #80808000;
}
.header-content{
    padding-top: 20px;
    padding-bottom: 20px;
}
.header-left {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: center;
}
.header-left img{
    max-width: 18%;
}
.left-menu{
    margin: 0;
    padding-left: 45px;
    align-self: center;
}
#menu-navigation{
    list-style-type: none;
    display: inline-block;
    padding-right: 10px;
}
#menu-navigation a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}
.header-right {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
}
.right-menu{
    list-style-type: none;
    margin: 0;
}
.hide{
    display: none;
}
.on-click{
    display: inline-block;
    left: -42px;
    position: relative;
}
.visible{
    display: block;
}
.searchInput {
    display: flex;
    align-items: baseline;
    border: solid 1px rgba(255,255,255,.85);
    max-width:245px;
    opacity: 1;
    transition-duration: 300ms;
}
.searchInput input {
    color: #fff;
    display: inline-block;
    background: 0 0;
    border: none;
    padding: 7px;
    font-size: 13px;
    width: 100%;
    outline: 0;
    line-height: normal;
}
.searchInput span > i {
    color: white;
    padding: 0 6px;
    cursor: pointer;
}
.name{
    text-transform: uppercase;
}
.fas{
    font-size: 20px;
    vertical-align: middle;
}
.fa-caret-down{
    font-size: 14px;
    padding: 5px;
    vertical-align: middle;
    transition: 1s;
}
.fa-caret-down:hover{
    transform: rotate(180deg);
}
.profile{
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}
.profile img{
    max-height: 100%;
    border-radius: 5px;
}
#wrapper{
    padding-top:30px;
}
.title-search{
    color:white;
    padding-bottom: 20px;
    font-size: 20px;
}
body{
    background-color: black;
}
.carousel-caption {
    right: 0;
    bottom: 3rem;
    left: 5%;
    text-align: left;
}
.w-100{
    max-height: 540px;
}
.carousel-caption p{
    font-size: 16px;
    margin-top: 25px;
    width: 40%;
}
.title-logo{
    max-width: 40%;
}
.card{
    width: 250px;
    height: 350px;
    flex-direction: row;
    float: left;
    margin-right: 9px;
    margin-bottom: 20px;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    background: 0px center;
}
.card h4, .card h6, p{
    color:white;
}
h4 {
    font-size: 20px;
}
h6, p {
    font-size: 12px;
}
.card-flag{
    display: flex;
    justify-content: center;
}
.card-flag img{
    max-width: 55px;
    padding: 10px;
}
.star{
    display: flex;
    justify-content: center;
}
.fa-star{
    font-size: 15px;
    color: #ffb856;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card-img {
    height: 100%;
    object-fit: cover;
}
.flip-card {
    background-color: transparent;
    perspective: 1000px;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-back {
    background-color: #262626;
    transform: rotateY(180deg);
    border-radius: calc(.25rem - 1px);
}
